.imglogo{
  max-width: 70px;
  min-width: 50px;
}
.redes{
  max-width: 25px;
  min-width: 10px;
}
.iconcoment{
  max-width: 40px;
  min-width: 30px;
}
.iconbuscar{
  max-width: 30px;
  min-width: 20px;
}
